#define SECRET_CH_ID 0
#define SECRET_WRITE_APIKEY "YOUR_KEY_HERE"
#define SECRET_READ_APIKEY "YOUR_KEY_HERE"
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASS "YOUR_PASS"
#define SECRET_CH_ID_2 1
#define SECRET_WRITE_APIKEY_2 "YOUR_KEY_HERE"
#define SECRET_READ_APIKEY_2 "YOUR_KEY_HERE"